@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,700");

body, button, #song, #name, .btn {
    font-family: "Titillium Web", sans-serif;
    font-size: 28px !important;
}

.btn {
    padding: 2px 12px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

#songs td {
    padding: 3px 6px;
}